body {
  width: 500px;
  height: 750px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FBE4ED;
}

#menu--container {
  width: 490px;
  height: 100%;
}
#menu--container > div:first-child {
  font-family: 'Galmuri9';
  font-size: 16px;
  font-weight: 700;
  color: #F9BFD7;
  background-color: #FBE4ED;
  padding: 8px 16px 0 16px;
  display: flex;
  justify-content: space-between;
}
#menu--container > div:first-child > svg:hover, .border > svg:hover {
  cursor: pointer;
}

#menu {
  background-color: white;
  margin: 5px 10px 10px 10px;
  border: 3px solid #F59AC0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu > div:first-child {
  margin: 23px 0;
  font-family: 'bitbit';
  font-size: 36px;
  color: #F59AC0;
}

.border {
  width: 90%;
  margin: 15px 0 25px 0;
  display: flex;
  justify-content: space-between;
}

#painting--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 490px;
}

#painting--container > div.painting--button {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin: 30px;
}
#painting--container > div.painting--button svg:first-child {
  margin-right: 10px;
}
#painting--container > div.painting--button svg, div.color {
  cursor: pointer;
}

#palette {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
}
#palette > div.color {
  position: relative;
  width: 39px;
  height: 36px;
  margin: 0 10px 10px 0;
}
#palette > div.color > div.number {
  font-family: "Galmuri11";
  position: absolute;
  z-index: 1;
  top: 11px;
  text-align: center;
  width: 39px;
}

#canvas {
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 6px;
}
#canvas.pen {
  cursor: url("chrome-extension://__MSG_@@extension_id__/icons/cursor-pen.png") -5 20, default;
}
#canvas.eraser {
  cursor: url("chrome-extension://__MSG_@@extension_id__/icons/cursor-eraser.png") -5 20, default;
}
#canvas--image {
  position: absolute;
  top: 6px;
  left: 6px;
}

#canvas--container {
  background-image: url("chrome-extension://__MSG_@@extension_id__/icons/canvas.png");
  height: 462px;
  width: 462px;
  position: relative;
}